<div id='map' style='width: 1200px; height: 500px;'></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidHVhbmh1eW5oIiwiYSI6ImNrbWJneGs2djIyMGYycHFsY2tscDV0ZzMifQ.-E7LG-bJTdLEcuWf_gQ6hw';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: ['<%=@companysite.longitude%>', '<%=@companysite.latitude%>'],
    zoom: 4
    });
  </script>

<div class="columns">

<div class="column">
<h2 class="title is-2">Top 10 Beers</h2>
  <ol class="ml-5">
    <% @beers.each do | beer | %>
      <li>
        <%= link_to beer.name,beer %>
        <em>(<%= beer.brewery.name%>)</em>
      </li>
    <%end %>
  </ol>
<p class="mt-5">
  <strong ><%= link_to "ðŸº Link to all beer products", beers_path%></strong>
</p>
</div>


<div class="column">
<h2 class="title is-2">Top 10 Breweries</h2>

<ol class="ml-5">
  <%= render @breweries %>
</ol>
<p class="mt-5">
  <strong><%= link_to "ðŸ­ Link to all breweries", breweries_path%></strong>
</p>
</div>

</div>

<%= @companysite.full_address %>